
*{
	outline: 1px solid red;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background:url(../img/land.jpg) no-repeat fixed center /*center #333*/;
	background-size: 100%; /*darle el 100% de la imagen*/
/*	width: 100%;
*/}

img{
	display: block;
	margin: 0 auto;
	width: 40%;
	position: absolute;
	top: 55%;
	left: 30%;
}
/*==============================
=            @media            =
==============================*/

@media (min-width: 1000px) and (max-width: 1200px) {
	[class*="gatos"]{
		width: 100%;
	}	
	body{
		font-family: "Lobster", cursive;
		color: white;
		background:url(../img/dawn.png) /*no-repeat*/ fixed center center #333;
		background-size: 100%;
	}
}
@media (min-width: 801px) and (max-width: 1199px) {
	[class*="gatos"]{
		width: 100%;
	}	
	body{
		font-family: "Lobster", cursive;
		color: white;
		background:url(../img/paisaje-1.jpg) /*no-repeat*/ fixed center center #333;
		background-size: 100%;
	}
}

@media (min-width: 701px) and (max-width:800px) {	
	body{
		font-family: "Lobster", cursive;
		color: white;
		background:url(../img/mini.jpg) /*no-repeat*/ fixed center center #333;
		background-size: 100%;
	}
}

@media (min-width: 601px) and (max-width:700px) {	
	body{
		font-family: "Lobster", cursive;
		color: white;
		background:url(../img/maxresdefault.jpg) /*no-repeat*/ fixed center center #333;
		background-size: 100%;
	}
}

@media (min-width: 500px) and (max-width:600px) {	
	
	body{

		font-family: "Lobster", cursive;
		color: white;
		background:url(../img/land.jpg) /*no-repeat*/ fixed center center #333;
		background-size: 100%;
	}
}

@media (min-width: 151px) and (max-width:491px) {	
	
	body{

		font-family: "Lobster", cursive;
		color: white;
		background:url(../img/gato-2.jpg) /*no-repeat*/ fixed center center #333;
		background-size: 100%;
	}
}


/*=====  End of @media  ======*/
